@import '../../node_modules/normalize.css/normalize';
@import 'vendor/select-css';

$accent: #f59f00;
$background: #011eff;
$text: white;

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@mixin media($px) {
    @media (min-width: $px) {
        @content;
    }
}

*,
*:before,
*:after {
    border: 1px solid pink;
  	box-sizing: border-box;
}

html {
    background-color: $background;
    font-size: 1em;
    line-height: 1.4;
}

button {
    padding: 0;
    cursor: pointer;
}

body {
    color: white;
    font-family: ff-tisa-sans-web-pro;
    font-weight: 700;
    margin: 1.2rem;

    @include media(500px) {
        margin: 4rem;
    }

    @include media(700px){
        margin: 7rem;
    }

    @include media(1000px) {
        margin: 6rem auto;
        max-width: 57rem;
    }
}

ul {
    margin: 0 0 0 -2.5em;
    list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Spinkit SPINNER
// http://tobiasahlin.com/spinkit/
.spinner {
  width: 35px;
  text-align: center;
	padding-left: .5em;
	position: absolute;
	right: 0;
	top: 65%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all .4s;
}

.spinner > div {
  width: 9px;
  height: 9px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation-play-state: paused;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.journey__input {
    position: relative;
}

.journey__input--is-searching {
    .spinner {
        opacity: 1;

        > div {
            animation-play-state: running;
        }
    }
}

// INPUTS
input[type="text"] {
		line-height: 1.2;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    padding: .6em 0 .5em 0;
    width: 100%;
    font-family: ff-tisa-sans-web-pro;
    color: white;

    @include media(600px) {
        padding: 0 0 .9em 0;
    }

    @include media(1000px) {

        padding-top: .8em;
    }

    &:focus {
        border-bottom: 2px solid $accent;
        outline: none;
    }
}

::-webkit-input-placeholder {
    opacity: .4;
    color: white;
}


// FOR SEARCHING STATIONS DROP DOWN
.completion-results {
    background-color: transparent; //#1A34FF; //6778FF
    position: absolute;
    top: 100%;
    margin-top: -3px;
    z-index: 4;
    width: 100%;
    border: 2px solid $accent;
    box-shadow: 0 6px 0px 0px rgba(0, 0, 0, 0.2);
}

.result {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:not(:first-child) {
        border-top: 1px solid $accent;
    }
}

.result--is-active {
    background-color: #6778FF; //lighten(#6778FF, 10%); //1A34FF
}

// THE HEADING
.heading__icon {
		display: inline-block;
		vertical-align: middle;
    height: 1rem;
		padding-right: .2em;
}

.heading {
    padding-bottom: 1rem;
		position: relative;
}

.heading__caption {
		display: inline-block;
    vertical-align: middle;
		text-transform: uppercase;
		font-size: .9rem;
}

.intro-text {
    margin-top: 4rem;
    margin-bottom: 3rem;
    max-width: 30rem;
}

// THE LABELS FOR THE JOURNEYS AND CARD SELECTION
.label {
    margin-bottom: .5rem;
    margin-top: 1.5rem;

    @include media(600px) {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

// OYSTER/DISCOUNT CARD SELECTION
.card-selection {
    @include media(600px) {
        width: 100%;
    }
}

.card {
    @include media(600px) {
        float: left;
        width: 48%;
        &:first-child {
            margin-right: 4%;
        }
        max-width: 17rem;
    }
}

// SELECT BOXES for touch in time and discount cards
select {
		line-height: 1.2;
    color: white;
		border: 1px solid white;
		-webkit-appearance: none;
    font-family: ff-tisa-sans-web-pro;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    &:active, &:focus{
        background-color: rgba(255,255,255, 0.1);
        border-radius: 0;
    }
}

.custom-select {
    border: 0;
    position: relative;
    width: 100%;

    select {
        padding: .6em 0 .5em 1em;
        border: 2px solid white;
        border-radius: 0;

        @include media(600px) {
            padding: .8em 0 calc(.9em - 2px) 1em;
        }
    }

    &:after {
        content: '▼';
        color: $accent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: .8rem;
    }

    select:focus {
        border-color: $accent;
    }
}

// Faded out touch in for weekend
.weekend-touchin {
    border: 2px solid rgba(255,255,255, 0.4);
    color: rgba(255,255,255, 0.4);
    padding: .6em 0 .5em 1em;
    position: relative;
    width: 100%;
    cursor: default;
    line-height: 1.2;

    @include media(600px) {
        padding: .8em 0 calc(.9em - 2px) 1em;
    }

    &:after {
        content: '▼';
        position: absolute;
        top: 50%;
        color: rgba(255,255,255, 0.4);
        transform: translateY(-50%);
        font-size: .8rem;
        right: 1em;
    }
}

// FOR EACH DAY
.day-section {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.day__title {
    font-size: 1.1rem;
    text-decoration: underline;
}

.day__journey {
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;

    @include media(1000px) {
        margin-bottom: 1rem;
        &:not(:first-of-type) {
            .label {
                display: none;
            }
        }
    }
}
// remove button
.journey__remove {
    font-size: 0.95em;

    &:before {
        content: '×';
        color: $accent;
        font-weight: 700;
        padding-right: 0.4em;
        font-size: 1.1em;

        @include media(1000px) {
            display: block;
            font-size: 2.8em;
            padding: 0;
            font-weight: 100;
            line-height: 1em;
            margin-top: -0.08em;
        }
    }

    &:focus {
        outline: 0;
        border-bottom-color: $accent;
    }

    @include media(1000px){
        float: right;
        &:focus {
            border-color: $accent;
        }
    }
}

.day__remove {
    margin-top: 1.5rem;

    @include media(700px) {
        margin-top: 2rem;
    }

    @include media(1000px) {
        float: left;
        width: 4.5%;
        margin-left: 1%;
        margin-top: 0;
    }

    .label {
        display: none;

        @include media(1000px) {
            display: block;
            visibility: hidden;
        }
    }
}

.journey__add {
    margin-top: 2rem;

    &:before {
        content: '+';
        color: $accent;
        font-weight: 700;
        padding-right: 0.4em;
        font-size: 1.1em;
    }

    &:focus {
        outline: 0;
        border-bottom-color: $accent;
    }

    @include media(700px) {
        margin-top: 1.5rem;
    }

    @include media(1000px) {
        margin-top: 1rem;
    }

    &:disabled, &[disabled] {
        color: rgba(255,255,255, 0.4);
        cursor: default;
        &:before {
            color: rgba(255,255,255, 0.4);
        }
    }
}

.submit {
    font-family: ff-tisa-sans-web-pro;
    border: 2px solid $accent;
    color: $accent;
    font-weight: 700;
    padding: 0.6em;
    width: 100%;
    background-color: transparent;

    &:focus {
        outline: 0;
        background-color: rgba(255,255,255, 0.1);
    }
}

.text-button {
    padding-left: 0;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    font-family: ff-tisa-sans-web-pro;
    font-weight: 700;
}

// touch in drop down
.journey__touchin {
    @include media(600px) {
        float: left;
        width: 48%;
        margin-right: 52%;
        max-width: 14rem;
    }
    @include media(1000px) {
        width: 24.5%;
        margin-left: 3%;
        margin-right: 0;
        max-width: initial;
    }

}

.journey__stationsntouchin {
    @include media(1000px) {
        float: left;
        width: 94.5%;
    }
}

.journey__stations {
    @include media(1000px) {
        float: left;
        width: 72.5%;
    }
}

.journey__station {
    display: block;
    position: relative;

    @include media(600px) {
        max-width: 25rem;
    }

    @include media(1000px) {
        float: left;
        width: 46%;
    }
}

.journey__tolabel {
    display: none;

    @include media(1000px) {
        display: block;
        line-height: calc(2.65em + 2px);
        float: left;
        width: 8%;
        text-align: center;
        vertical-align: bottom;
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

// FORM ERROR HANDING

.errors__text {
    background-color: #e8590c;
    padding: 1.1em 1.4em;
    // border: 2px solid $accent;
    margin-bottom: 2em;
    margin-top: 1em;
    @include media(600px) {
        display: inline-block;
    }
}

.journey__input--has-error {
    position: relative;

    &:before {
        position: absolute;
        right: 0;
        bottom: 0.8em;
        content: '';
        width: 1em;
        height: 1em;
        display: block;
        background-image: url('../img/warning.svg');
				background-size: 100% 100%;
    }
    input {
        border-color: #e8590c;
        padding-right: 1.5em;
    }
}

// LOADING PAGE LOADING BAR

.loading-bar {
  height: 1em;
  max-width: 30em;
  border: 2px solid white;
	margin: 3em 0 1em;
  overflow: hidden;
  position: relative;
}


.loading__inner {
  transform: translateX(-100%);
  height: 1em;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.loading__inner--main {
  animation: move 30s linear forwards;
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  5% {
    transform: translateX(-70%);
  }
  15% {
    transform: translateX(-50%);
  }
  20% {
    transform: translateX(-40%);
  }
  35% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fast {
  to {
    transform: translateX(0);
  }
}

.loading-bar--is-finished {
  .loading__inner--main {
    animation-play-state: paused;
  }

  .loading__inner--final {
     animation: fast .2s linear forwards;
  }
}

.loading__text {

}

// THE RESULTS PAGE

.results__title {
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    padding: 1.5em 2.5em;
    text-align: center;
    font-size: 0.8em;
}

.results__section {
    border: 2px solid white;
}

.result__output {
    padding: 1em 2em 2em;
    text-align: center;
}

.result__price {
    font-size: 3em;
    font-weight: 400;
    margin-left: 0.1em;
}

.price {
    font-size: 1.5em;
    font-weight: 400;
}

.results__contactless {
    margin-bottom: 1em;

    @include media(1000px){
        float: left;
        width: 33.333%;
        margin-bottom: 0;
        border-right: none;
    }
}

.results__oyster {
    @include media(1000px){
        float: left;
        width: 66.666%;
    }
}

.result__caption {
    margin-top: 0.5em;
    font-size: 0.9em;
}

.oyster__monthly {
    border-top: 2px dashed rgba(255,255,255, 0.4);
    @include media(1000px){
        float: left;
        width: 50%;
        border-top: none;
    }
}

.oyster__weekly {
    @include media(1000px){
        float: left;
        width: 50%;
        border-right: 2px solid white;
    }
}

.results__disclaimer {
    margin-top: 1em;
    max-width: 30rem;
    font-size: 0.8em;
}

#results-page__title {
    font-size: 1.5em;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 0.5em;
}

.results-astrix {
    font-size: 1.5em;
    margin-left: 0.1em;
}

.edit-journeys {
    cursor: pointer;
    margin-top: 3em;
}

.results__table {
    @include media(1000px) {
        display: flex;
    }
}

.astrix {
    color: $accent;
    text-decoration: none;
}

// UTILITY

.is-not-displayed {
    display: none;
}

.hide {
    display: none;
}

.is-disabled {
    opacity: 0.4;
    cursor: default;
    &:after {
        color: rgba(255,255,255,1);
    }
}

.is-orange {
    color: $accent;
}

.is-hidden {
    @include media(1000px) {
        visibility: hidden;
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
    }
}
.is-hidden--mobile {
    visibility: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    @include media(1000px) {
        visibility: visible;
        position: relative;
    }
}
